{
    "version":1,
    "disable_existing_loggers":"False",
    "formatters":{
        "simple":{
            "format":"%(levelname)s %(asctime)s %(funcName)10s>> %(message)s"
        },
        "verbos":{
            "format":"[%(asctime)s:%(moduleName)s %(lineno)3s@%(funcName)s] %(message)s"
        }
    },
    "filters":{

    },
    "handlers":{
        "console":{
            "level":"DEBUG",
            "filters":[],
            "class":"logging.StreamHandler",
            "formatter":"simple",
            "stream":"ext://sys.stdout"
        },
        "file":{
            "level":"INFO",
            "filters":[],
            "formatter":"simple",
            "class":"logging.handlers.TimedRotatingFileHandler",
            "filename":"D:\\Project\\python\\vue\\simple.log"
        },
        "console4s":{
            "level":"DEBUG",
            "formatter":"verbos",
            "class":"logging.StreamHandler"
        },
         "service":{
            "level":"DEBUG",
            "formatter":"verbos",
            "class":"logging.handlers.TimedRotatingFileHandler",
            "filename":"D:\\Project\\python\\vue\\service\\application6.log"
        }
    },
    "loggers":{
        "console":{
            "level":"DEBUG",
            "handlers":["console"],
            "propagate":"True"
        },
        "file":{
            "level":"DEBUG",
            "handlers":["file"],
            "propagate":"True"
        },
        "__main__":{
            "level":"DEBUG",
            "handlers":["console"],
            "propagate":"False"
        },
        "service":{
            "level":"DEBUG",
            "handlers":["service", "console4s"],
            "propagate":"True"
        },
        "utils":{
            "level":"DEBUG",
            "handlers":["console"],
            "propagate":"True"
        }
    }
}