<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="static/css/app_memo_excel.css" type="text/css" rel="stylesheet">
    </link>
    <script src="static/js/vue.js" type="text/javascript"></script>
    <script src="static/js/axios.js"></script>
    <script src="static/js/app_memo_excel.js" type="text/javascript"></script>
</head>

<body onload="init();">
    <div id="app">
        <div id="top">
            <h3>Word extension</h3>
        </div>
        <div id="left">
            <div id="function_menu">
                <h2>분류메뉴</h2>
                <select v-model="category" id="category_selector">
                    <option v-for="category in categories" v-bind:value="category">{{category}}</option>
                </select>
            </div>
            
            <div id="message_box">
                <h5>[message]</h5>
                <div>{{result_message}}</div>
            </div>
        </div>
        <div id="right">
            <button @click="add">추가</button>
            <button @click="updateAll">갱신</button>

            <form name="form" v-for="article in cached" class="article_list">
                <div><button @click="click_02(article, $event)">×</button></div>
                <div @change = "change_01(article, $event)">
                    <select name="category">
                        <option v-for="category in categories" :value="category" :selected="category==article.category?'selected':''">{{category}}</option>
                    </select>
                    <div><input type="text" name="word" :value="article.word"></div>
                    <div><input type="text" name="meaning" :value="article.meaning"></div>
                </div>

                <ul class="article" @change="change_02(article, $event)" @click="click_01(article, $event)">
                    <li v-if="article.examples.length==0">
                        <input type="text" name="examples" value="" data-index=0/>
                    </li>
                    <li v-else v-for="(item,index) in article.examples" :class="item.isDisabled?'deleted':'examples'" :data-index="index">
                        <input type="text" name="examples" :value="item.value"  :disabled="item.isDisabled"/>
                        <button name="examples.del" type="button">×</button>
                    </li>
                    <button name="addItem" @click="addItem(article,'examples',$event)">Add</button>
                </ul>
                <ul class="article" @change="change_02(article,$event)" @click="click_01(article, $event)">
                   <li v-if="article.keywords.length==0">
                       <input type="text" name="keywords" value="">
                   </li>
                   <li v-else v-for="(item, index) in article.keywords" :class="item.isDisabled?'deleted':'keywords'" :data-index="index">
                       <input type="text" name="keywords" :value="item.value"  :disabled="item.isDisabled"/>
                       <button name="keywords.del" type="button">×</button>
                   </li>
                   <button name="addItem" @click="addItem(article,'keywords',$event)">Add</button>
                </ul>
            </form>
            <component v-for="templ in word_templates" :is="templ" :categories="categories"></component>
        </div>
    </div>
</body>

</html>